<div class="welcome-splash">
	<h1> Welcome to PlayDate </h1>

	<h4> Message your child's classmates to set up playdates, without sharing your contact information with everyone.</h4>

	<h4>To use this site, you should have received login information from your child's teacher or school administrator.</h4>

</div>