body {
	font-family: 'Istok Web', sans-serif;
}

h2 {
	font-weight: 700;
	font-size: 24px;
}

h3 {
	font-weight: 700;
	font-size: 18px;
}

span {
	font-weight: 400;
	font-size: 18px;
}


.logo {
	text-align: center;
	margin: 20px;
}

.container {
	width: 100%;
}

.info-container {
	width: 50%;
	margin: 0 auto;
}

.photo-container {
	text-align: center;
	float: left;
	padding: 20px;
}

.profile-container {
	float: left;
	padding: 20px;
}
